<div class="main">
  <header>
    <h1>TrustyConvert</h1>
    <h2>Конвертер валют</h2>
  </header>

  <div class="container">
    <div class="currency-info">
      <p *ngIf="exchangeRates.USD">
        USD: {{ 1 * exchangeRates.UAH | number : "1.2-2" }} UAH
      </p>
      <p *ngIf="exchangeRates.EUR">
        EUR:
        {{ (1 * exchangeRates.UAH) / exchangeRates.EUR | number : "1.2-2" }} UAH
      </p>
    </div>

    <div class="converter">
      <div class="convert-from">
        <input
          type="number"
          placeholder="Введіть суму"
          [(ngModel)]="amount"
          min="0.0"
        />

        <select [(ngModel)]="fromSelectedCurrency" (change)="convertCurrency()">
          <option
            *ngFor="let currency of availableCurrencies"
            [value]="currency"
          >
            {{ currency }}
          </option>
        </select>
      </div>

      <button class="botton-swap" (click)="swap()">&#8644;</button>
      <div class="converter">
        <div class="convert-to">
          <input type="number" [(ngModel)]="conversionResult" min="0.0" />

          <select [(ngModel)]="toSelectedCurrency" (change)="convertCurrency()">
            <option
              *ngFor="let currency of availableCurrencies"
              [value]="currency"
            >
              {{ currency }}
            </option>
          </select>
        </div>
      </div>
    </div>
    <button class="button-convert" (click)="convertCurrency()">
      Конвертувати
    </button>
  </div>
</div>
